.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 197px;
  width: 537px;
  padding-top: 20px; 
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-tweet label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-tweet textarea {
  width: 158%;
  height: 10px;
  resize: none;
  border: 10px;
  border-bottom: 2px solid #101010;
  padding: 18px;
  font-size: 18px;
  background-color: #f4f1ec;
}

.new-tweet .counter {
  display: flex;
  margin-top: 0.5em;
  margin-left: 800px;
  color: black;
  font-size: bold;
}
.tweet-button {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
   font-size: medium;
    font-weight: bold;
    margin-top: 10px !important;
  }
.new-tweet .counter.invalid {
  color: red;
}

.tweets {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid #f4f1ec; */
  border-radius: 0;
  padding: 200px;
  padding-top: 33px;
}

.tweets .tweet {
  border-style: solid;
  border-color: dark rgb(114, 111, 111);
  border-width: 2px;
  padding: 2px;
  margin-bottom: 11px;
  transition: box-shadow 0.3s;
}

.tweets .tweet textarea {
  width: 100%;
  height: 1px;
  padding: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.tweets .tweet:hover {
  box-shadow: 10px 10px rgba(135, 149, 206, 0.5);
}

.tweets .article-header {
  padding-top: 10px;
  margin-bottom: 10px;
  background-image: none;
  background-color: #f4f1ec;
  flex-direction: row;
  display: flex;
} 

.tweets .tweet header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweets .tweet header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweets .tweet .tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweets .tweet .tweet .tweet-author {
  font-size: 18px;   
  font-weight: bold; 
  color: gray; 
  margin-right: 700px;
}
.tweets .tweet .tweet-header p.tweet-username {
  margin-left: 450px;
  margin-top: 10px;
  font-size: 14px;
  color: #888; 
}

.tweets .tweet .tweet-content p::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

.tweets .tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweets .tweet .tweet-created-at {
  font-size: 14px;
  color: #888;
}

.tweets .tweet:hover .tweet-icons i {
  color: gray;
}

.tweets .tweet:hover .tweet-icons i:hover {
  color: blue;
}

.tweets .tweet .tweet-icons i:hover {
  transform: scale(1.2);
}

.error-message {
  display: none;
  background-color: #f8d7da;
  color: #c80c1e;
  padding: 5px;
  border: 1px solid #ef071e;
  white-space: nowrap;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
    /* background-color: #ff7f50; */
    /* background-image: url(https://www.transparenttextures.com/patterns/elegant-grid.png); */
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }

  .new-tweet {
    width: 462px;
    margin-left: -4px;
    background-color: #f4f1ec; 
  }

  .tweets {
    background-color: #f4f1ec; 
    margin-left: -39px;
    margin-right: -38px;
    border: 0px;
    width: 117%;
    padding: 43px;
  }
  .new-tweet .counter {
    margin-left: 643px;
    background-color: #f4f1ec; 
}
.new-tweet.textarea{
  width: 158%;
}

.tweets .tweet .tweet-header p.tweet-username {
  margin-left: 540px; 
}
}